[Desktop Entry]
Type=Application
Name=Cisco Anyconnect Secure Mobility Client
Comment=Connect to a private network using the Cisco Anyconnect Secure Mobility Client
Exec=/opt/cisco/anyconnect/bin/vpnui
Icon=/opt/cisco/anyconnect/pixmaps/vpnui48.png
Terminal=false
Encoding=UTF-8
